body{
  background-color: #E4F9F5;
  margin:0;
}
h1{
  display: block;
  margin:0;
}
h1:hover{
  font-size: 50px;
}
h5{
  display: block;
  margin:0;
}
h2{
  display: block;
  margin:0;
  font-size: 30px;
}
img{
border-radius: 100%;
}
img:hover{
border-radius: 10%;
}
p{
  display: block;
}
table{
  font-size: 25px;
}
li{
  font-size: 25px;
}
img
{
  float: right;
}
hr {
  display: block;
  border-style: inset;
  border-width: 4px;
}
td {
  height: 50px;
  vertical-align: bottom;
}
tr:hover {background-color: #676666;}
